.Linechart {
      background: #ff0000;
      width: 258px;
      height: 263px;
      border-radius: 10px;
}

.type-stats-linechart {
      font-weight: 500;
      font-size: 15px;
      color: #ffffff70;
      position: absolute;
      left: 17%;
      width: 150px;
      display: flex;
      flex-wrap: wrap;
      height: 0;
}

.custom-tooltip-linechart {
      width: 39px;
      height: 25px;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
}

.custom-tooltip-linechart p {
      font-size: 7px;
      color: black;
}
